/* Global reset and defaults */
* {
  padding: 0; /* Reset padding */
  margin: 0; /* Reset margin */
  box-sizing: border-box; /* Box model border-box */
  font-family: "Antic Didone", serif; /* Default font family */
}

/* Title styling for packages */
.packages_title {
  position: absolute; /* Position absolute */
  left: 50%; /* Center horizontally */
  pointer-events: none; /* Ignore pointer events */
  transform: translate(-50%, -50%); /* Center vertically */
  color: #535e4b; /* Title color */
  top: 230px; /* Position from top */
  opacity: 1; /* Full opacity */
  font-weight: 1000; /* Bold font weight */
  font-size: 70px; /* Larger font size */
}

/* Content container */
.content {
  padding-top: 20px; /* Add padding at the top */
}

/* Row styling */
.row {
  justify-content: center !important; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  background-color: #d1e2c4; /* Background color */
  border-radius: 10px; /* Rounded corners */
  padding: 10px; /* Padding */
  box-shadow: 0 2px 8px #d1e2c4; /* Box shadow */
}

/* Column styling */
.col-md-3 {
  color: darkolivegreen; /* Text color */
  font-weight: 600; /* Bold font weight */
}

/* Panel heading styling */
.panel-heading {
  padding-bottom: 19px; /* Padding */
}

/* List item styling */
.headItem {
  list-style: none; /* Remove the bullet point */
  position: relative; /* Position relative */
  display: flex; /* Flex display */
  justify-content: center; /* Center content horizontally */
}

/* Filter search container */
.filter_search_container {
  padding: 15px; /* Padding */
  background-color: darkkhaki; /* Background color */
  box-shadow: 0 2px 8px darkolivegreen; /* Box shadow */
  width: 35%; /* Width */
  color: azure; /* Text color */
  font-style: italic; /* Italic font style */
  border-radius: 10px; /* Rounded corners */
}

/* Filter form styling */
.filter_form {
  padding: 10px; /* Padding */
  margin: 1px; /* Margin */
  margin-bottom: none; /* Remove bottom margin */
  box-shadow: 0 2px 8px rgb(131, 157, 86); /* Box shadow */
  border-radius: 10px; /* Rounded corners */
}

/* Submit button styling */
#submit {
  padding: 5px; /* Padding */
  width: 10%; /* Width */
  border-radius: 10px; /* Rounded corners */
  border-color: 2px solid darkolivegreen; /* Border color */
  background-color: #fdf4e3; /* Background color */
  font-weight: 600; /* Bold font weight */
  color: darkolivegreen; /* Text color */
}

/* Submit button hover effect */
#submit:hover {
  border-radius: 10px; /* Rounded corners */
  border-color: 3px solid darkolivegreen; /* Border color */
}

/* Default styles for select elements */
.form-group select.form-control {
  width: 100%; /* Make select elements full width by default */
}

/* Overlay card styling */
.overlay-card {
  display: none; /* Hide overlay card by default */
  position: fixed; /* Position fixed */
  z-index: 9999; /* Z-index */
  left: 0; /* Position from left */
  top: 0; /* Position from top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Allow overflow */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding-top: 60px; /* Padding at the top */
}

/* Card content styling */
.card-content {
  font-size: larger; /* Larger font size */
  background-color: #d1e2c4; /* Background color */
  margin: 5% auto; /* Margin */
  padding: 20px; /* Padding */
  border: 1px solid #888; /* Border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px #8a8888; /* Box shadow */
}

/* Adjust select width for smaller screens */
@media (max-width: 768px) {
  .form-group select.form-control {
    width: auto; /* Allow select elements to shrink based on content */
    max-width: 100%; /* Ensure select elements don't overflow their container */
  }
}
