/* Reset default padding, margin, and box-sizing for all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Antic Didone", serif; /* Set default font family */
}

/* Styles for the chart menu paragraphs */
.chartMenu p {
  padding: 10px; /* Add padding to paragraphs */
  font-size: 20px; /* Set font size */
}

/* Styles for the container of the chart */
.chartCard {
  margin: 15px; /* Add margin around the chart card */
  padding: 10px; /* Add padding */
  background: #e6e3e38e; /* Set background color with opacity */
  display: flex; /* Use flexbox layout */
  align-items: stretch; /* Stretch items vertically */
  justify-content: center; /* Center items horizontally */
  flex-direction: column; /* Arrange items in a column */
  position: relative; /* Position relative for absolute positioning of child elements */
}

/* Styles for the chart box containing the canvas */
.chartBox {
  width: 60%; /* Set width of the chart box */
  flex: 1; /* Allow chart box to grow and shrink */
  padding: 20px; /* Add padding */
  border-radius: 10px; /* Add border radius for rounded corners */
  border: solid 2px lightgrey; /* Add border with light grey color */
  height: auto; /* Allow height to adjust based on content */
  background: white; /* Set background color to white */
  position: relative; /* Position relative for absolute positioning of child elements */
}

/* Styles for the canvas element */
canvas {
  width: 100vw; /* Set canvas width to 100% of viewport width */
  height: 50vh; /* Set canvas height to 50% of viewport height (adjust as needed) */
}

/* Additional class for the chart box */
.myChart {
  display: flex !important; /* Override default display to flex */
}

/* Styles for the chart description container */
.chartDescription {
  border-radius: 10px; /* Add border radius for rounded corners */
  border: solid 2px lightgrey; /* Add border with light grey color */
  background: white; /* Set background color to white */
  width: 39%; /* Set width of the chart description container */
  padding: 20px; /* Add padding */
  position: absolute; /* Position absolutely for overlay effect */
  right: 10px; /* Align to the right */
  top: 10px; /* Align to the top */
  bottom: 10px; /* Align to the bottom */
}

/* Styles for images inside the chart description */
.chartDescription img {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  height: auto; /* Maintain aspect ratio */
}

/* Media query for responsive design */
@media only screen and (max-width: 1110px) {
  .chartCard {
    /* Remove height property to allow flexibility */
  }
}
