/* Global reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Antic Didone", serif;
}

/* Background video styling */
.back_video {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  background-position: center;
  justify-content: center;
  object-fit: cover;
  align-items: center;
  flex-wrap: wrap;
  z-index: -1;
  opacity: 0.8;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

/* Navigation bar styling */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  height: 50px;
}

/* Logo styling */
.logo {
  width: 150px;
  margin-left: 50px;
  position: fixed;
  padding-top: 5px;
}

/* Navigation links styling */
nav ul li {
  height: 50px;
  display: flex;
  display: inline-block;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

nav ul li a {
  height: 100%;
  text-transform: uppercase;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* Hover effect on navigation links */
li a:hover {
  background: white;
  text-decoration: underline !important;
  color: black;
  transition: 0.5s;
}

nav a:hover {
  color: black;
}

/* Subsection styling */
.subsection {
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title_graphics {
  font-size: 160px;
  color: #fff;
  font-weight: 600;
}

/* Hover effect on title graphics */
.title_graphics:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  transition: 0.5s;
}

.subsection h2 {
  font-size: 30px;
  color: #fff;
  font-weight: lighter;
}

.subsection a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}

/* Media query for screens larger than mobile */
@media only screen and (min-width: 1111px) {
  .menu-btn {
    display: none;
  }
  .logo {
    position: fixed;
    left: 0px;
  }
}

/* Media query for screens smaller than 1110px */
@media only screen and (max-width: 1110px) {
  nav {
    padding: 0;
    position: fixed;
    background: transparent;
    box-shadow: none;
    height: fit-content;
  }
  .logo {
    position: fixed;
    top: 10px;
    left: 0px;
    margin-top: 0;
  }

  /* Menu button styling */
  .menu_nav {
    background-color: black;
    width: 35%;
    height: auto;
    align-items: end;
  }

  /* Navigation links container */
  .nav-links {
    width: 0;
    height: auto;
    background-color: black;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
  }

  /* Active state for navigation links container */
  .nav-links.active {
    width: 30%;
  }

  /* Individual navigation links styling */
  .nav-links li {
    margin: 10px auto;
    width: 100%;
  }

  /* Menu button styling */
  .menu-btn {
    right: 0px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-top: 5px;
    margin-right: 10px;
    background-color: black;
    padding: 5px;
    display: inline-block;
  }

  .menu-btn.active {
    display: none;
  }

  /* Hover effect on menu button */
  .menu-btn:hover {
    color: black;
  }

  /* Resize background video */
  .back_video {
    width: 100vw;
    height: 100vh;
  }

  /* Menu button container styling */
  .menu-btn-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
